<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.improvider"
    android:versionCode="2"
    android:versionName="1.0.1 bêta" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.improvider.Improvider"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.improvider.ChoixAccompagnement"
            android:label="@string/title_activity_choix_accompagnement"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.improvider.ImproviderCredits"
            android:label="@string/title_activity_improvider_credits"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.improvider.Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/themeMain" >
        </activity>
        <activity
            android:name="com.improvider.Commencer"
            android:label="@string/title_activity_commencer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.improvider.Tutoriel"
            android:label="@string/title_activity_tutoriel"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.improvider.SavoirPlus"
            android:label="@string/title_activity_savoir_plus"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>